In [108]:
# 예제 1

a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [109]:
# 예제 2

class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))

x = Gizmo()

y = Gizmo() * 10

Gizmo id: 1823285044736
Gizmo id: 1823285040848

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [110]:
dir()

['Bus',
 'Gizmo',
 'HauntedBus',
 'In',
 'Out',
 'TwilightBus',
 '_',
 '_1',
 '_100',
 '_102',
 '_103',
 '_104',
 '_106',
 '_107',
 '_108',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_19',
 '_20',
 '_21',
 '_22',
 '_23',
 '_32',
 '_33',
 '_34',
 '_35',
 '_37',
 '_38',
 '_39',
 '_4',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_5',
 '_51',
 '_53',
 '_54',
 '_55',
 '_57',
 '_58',
 '_59',
 '_61',
 '_63',
 '_64',
 '_65',
 '_66',
 '_67',
 '_68',
 '_69',
 '_70',
 '_71',
 '_72',
 '_73',
 '_74',
 '_8',
 '_81',
 '_82',
 '_83',
 '_84',
 '_86',
 '_87',
 '_88',
 '_9',
 '_90',
 '_91',
 '_92',
 '_93',
 '_94',
 '_95',
 '_96',
 '_97',
 '_98',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'alex',
 'b',
 'basketball_team',
 'bus',
 'bus1',
 'bus2',
 'bus3',
 'bye',
 'c',
 'charles',
 'copy',
 'ender',
 'exit',
 'f',
 'get_ipython',
 'l1',
 'l2',
 'lewis',
 'open',
 'quit',
 's2',
 't',
 't1',
 't2',
 'u',
 'weakref',
 'x',
 'y']

In [111]:
# 예제 3
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles

In [112]:
lewis is charles

True

In [113]:
id(charles), id(lewis)

(1823292514496, 1823292514496)

In [114]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [115]:
# 예제 4

alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [116]:
alex is charles

False

In [117]:
# 예제 5

t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

(True, False)

In [118]:
id(t1[-1])

1823292723456

In [119]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 1823292723456)

In [120]:
t1 == t2

False

In [121]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [122]:
l2 == l1

True

In [123]:
l2 is l1

False

In [124]:
# 예제 6

l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)

In [125]:
l1.append(100)

In [126]:
l1[1].remove(55)
print('l1: ', l1)
print('l2: ', l2)

l1:  [3, [66, 44], (7, 8, 9), 100]
l2:  [3, [66, 44], (7, 8, 9)]

In [127]:
l2[1] += [33, 22]

In [128]:
l2[2] += (10, 11)

print('l1: ', l1)
print('l2: ', l2)

l1:  [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2:  [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [129]:
# 예제 7

class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)
    
    def drop(self, name):
        self.passengers.remove(name)

In [130]:
# 예제 8

import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(1823285216416, 1823285246384, 1823285244848)

In [131]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [132]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(1823292684224, 1823292684224, 1823292799296)

In [133]:
# 예제 9

a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [134]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [135]:
# 예제 10

def f(a, b):
    a += b
    return a

In [136]:
x = 1
y = 2
f(x,y), (x,y)

(3, (1, 2))

In [137]:
a = [1,2]
b = [3,4]
f(a,b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [138]:
t = (10, 20)
u = (30, 40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [139]:
# 예제 11

class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""
    
    def __init__(self, passengers=[]):
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [140]:
# 예제 12

bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [141]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [142]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [143]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [144]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [145]:
bus2.passengers is bus3.passengers

True

In [146]:
bus1.passengers

['Bill', 'Charlie']

In [147]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [148]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [149]:
# 예제 13

class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [150]:
# 예제 14

basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [151]:
# 예제 15

class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [152]:
# 예제 16

basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [153]:
# 예제 17

import weakref
s1 = {1,2,3}
s2 = s1

def bye():
    print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [154]:
del s1
ender.alive

True

In [155]:
s2 = 'spam'

Gone with the wind...

In [156]:
ender.alive

False