In [40]:
symbols = "$*&!@"
codes = []

for symbol in symbols:
    codes.append(ord(symbol))

print(codes)

[36, 42, 38, 33, 64]

In [41]:
symbols = "$*&!@"

codes = [ord(symbol) for symbol in symbols]

print(codes)

[36, 42, 38, 33, 64]

In [42]:
x = '"!~$$*&!@'
dummy = [ord(x) for x in x]

print(x)
print(dummy)

"!~$$*&!@
[34, 33, 126, 36, 36, 42, 38, 33, 64]

In [43]:
symbols = '"!~$$*&!@'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 32]

print(beyond_ascii)

[34, 33, 126, 36, 36, 42, 38, 33, 64]

In [44]:
symbols = '"!~$$*&!@'
beyond_ascii = list(filter(lambda c: c>64, map(ord, symbols)))

print(beyond_ascii, '\n')

print(f"Map function:\n>>> {map(ord, symbols)}")
print(f"List after map:\n>>> {list(map(ord, symbols))}")

[126]

Map function:
>>> <map object at 0x00000188E13F30D0>
List after map:
>>> [34, 33, 126, 36, 36, 42, 38, 33, 64]

In [45]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]

print(tshirts)

for color in colors:
    for size in sizes:
        print((color, size))

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]
('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [46]:
symbols = "!#^&&#"
ord_s = tuple(ord(s) for s in symbols if ord(s) > 32)

print(ord_s)

(33, 35, 94, 38, 38, 35)

In [47]:
import array

ord_s = array.array('I', (ord(symbol) for symbol in symbols))

print(ord_s)

array('I', [33, 35, 94, 38, 38, 35])

In [48]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in ('{} {}'.format(c, s) for s in sizes for c in colors):
    print(tshirt)

black S
white S
black M
white M
black L
white L

In [49]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'),
                ('BRA', 'CE342567'),
                ('ESP', 'XDA205856')]

for passport in sorted(traveler_ids):
    print('%s/%s' % passport)
    print('{}/{}'.format(passport[0], passport[1]))
    print(f'{passport[0]}/{passport[1]}')

BRA/CE342567
BRA/CE342567
BRA/CE342567
ESP/XDA205856
ESP/XDA205856
ESP/XDA205856
USA/31195855
USA/31195855
USA/31195855

In [50]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [51]:
lax_coordinates = (33.9425, -118.408056)
latitude, longtitude = lax_coordinates # 튜플 병렬 할당
print(latitude)
print(longtitude)

33.9425
-118.408056

In [52]:
a = 10; b = 20
b, a = a, b
print(a, b)

20 10

In [53]:
divmod(20, 8)

(2, 4)

In [54]:
t = (20, 8)
divmod(*t) # 튜플 언패킹

(2, 4)

In [55]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [56]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'idrsa.pub'

In [57]:
a, b, *rest = range(5) # 초과 항목
a, b, rest

(0, 1, [2, 3, 4])

In [58]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [59]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [60]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [61]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

In [62]:
metro_areas = [
    ("Tokyo", "JP", 36.933, (35, 139)),
    ("Delhi NCR", "IN", 21, (28, 77)),
    ("Mexico City", "MX", 20, (19, -99)),
    ("New-York-Newark", "US", 20, (40, -74)),
    ("Sao Paulo", "BR", 19, (-23, -46)),
]

print("{:15} | {:^9} | {:^9}".format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'

# 내포한 튜플 언패킹
for name, cc, pop, (lat, longi) in metro_areas:
    if longi <= 0:
        print(fmt.format(name, lat, longi))

                |   lat.    |   long.
Mexico City     |   19.0000 |  -99.0000
New-York-Newark |   40.0000 |  -74.0000
Sao Paulo       |  -23.0000 |  -46.0000

In [63]:
from collections import namedtuple
City = namedtuple('City', 'name country population, coordinates') # 타입 네임, 튜플
tokyo = City('Tokyo', 'JP', 36.933, (35.689, 139.691))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689, 139.691))

In [64]:
tokyo.population

36.933

In [65]:
tokyo.coordinates

(35.689, 139.691)

In [66]:
tokyo[1]

'JP'

In [67]:
City._fields

('name', 'country', 'population', 'coordinates')

In [68]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613, 77.208))

In [69]:
delhi = City._make(delhi_data)
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613, long=77.208)}

In [70]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613, long=77.208)

In [71]:
l = [10, 20, 30, 40, 50, 60]
l[:2]

[10, 20]

In [72]:
l[2:]

[30, 40, 50, 60]

In [73]:
l[:3]

[10, 20, 30]

In [74]:
l[3:]

[40, 50, 60]

In [75]:
invoice = """
0.....6..................25.......33......40.......
1909  Pimoroni              $17.50   3     $52.50
1489  6mm Tactile           $4.95    2     $9.90
"""

# 슬라이스 객체
SKU = slice(0, 6)
DESCRIPTION = slice(6, 25)
UNIT_PRICE = slice(25, 33)
QUANTITY = slice(33, 40)
ITEM_TOTAL = slice(40, None)

line_items = invoice.split('\n')[2:]

for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

   $17.5 Pimoroni
   $4.95 6mm Tactile

In [76]:
l = list(range(10)) # 가변 시퀀스 변형
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
l[2:5] = [20, 30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [78]:
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [79]:
l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

In [80]:
l[2:5] = 100

TypeError: can only assign an iterable

In [81]:
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

In [91]:
l = [1, 2, 3]
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [92]:
5 * 'abcd'

'abcdabcdabcdabcdabcd'

In [93]:
board = [['_'] * 3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [94]:
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [95]:
weird_board = [['_'] * 3] * 3
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [96]:
weird_board[1][2] = '0'
weird_board

[['_', '_', '0'], ['_', '_', '0'], ['_', '_', '0']]

In [97]:
row = ['_'] * 3
board = []
for i in range(3):
    board.append(row)

board[1][2] = 'X'

board

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

In [98]:
board = []
for i in range(3):
    row = ['_'] * 3
    board.append(row)

print(board)

board[2][0] = 'X'

board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

[['_', '_', '_'], ['_', '_', '_'], ['X', '_', '_']]

In [99]:
l = [1, 2, 3]
id(l)

1687412884608

In [100]:
l *= 2
l

[1, 2, 3, 1, 2, 3]

In [101]:
id(l)

1687412884608

In [102]:
t = (1, 2, 3)
id(t)

1687412888960

In [103]:
t *= 2 # 불변 시퀀스
id(t)

1687412533632

In [104]:
t = (1, 2, [30, 40])
print(t)

t[2] += [50, 60]

(1, 2, [30, 40])

TypeError: 'tuple' object does not support item assignment

In [105]:
print(t)

(1, 2, [30, 40, 50, 60])

In [106]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits) # 정렬된 새로운 리스트 리턴

['apple', 'banana', 'grape', 'raspberry']

In [107]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [108]:
sorted(fruits, reverse=True)

['raspberry', 'grape', 'banana', 'apple']

In [109]:
sorted(fruits, key=len)

['grape', 'apple', 'banana', 'raspberry']

In [110]:
sorted(fruits, key=len, reverse=True)

['raspberry', 'banana', 'grape', 'apple']

In [111]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [112]:
fruits.sort() # 리스트 내부 정렬
fruits

['apple', 'banana', 'grape', 'raspberry']

In [113]:
from array import array
from random import random

floats = array('d', (random() for _ in range(10**7)))
floats[-1]

0.5091614361526765

In [114]:
with open('floats.bin', 'wb') as f:
    floats.tofile(f)

In [115]:
floats2 = array('d')

with open('floats.bin', 'rb') as f:
    floats2.fromfile(f, 10**7)

floats2[-1]

0.5091614361526765

In [116]:
floats == floats2

True

In [117]:
import array
numbers = array.array('h', [-2, -1, 0, 1, 2])
memv = memoryview(numbers)
len(memv)

5

In [118]:
memv[0]

-2

In [119]:
memv_oct = memv.cast('B')
memv_oct.tolist()

[254, 255, 255, 255, 0, 0, 1, 0, 2, 0]

In [120]:
memv_oct[5] = 4
numbers

array('h', [-2, -1, 1024, 1, 2])

In [121]:
import numpy
a = numpy.arange(12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [122]:
type(a)

numpy.ndarray

In [123]:
a.shape

(12,)

In [124]:
a.shape = 3, 4
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [125]:
a[2]

array([ 8,  9, 10, 11])

In [126]:
# np.int64(9)로 출력되는 문제로 인해 int로 형변환
int(a[2, 1])

9

In [127]:
a[:, 1]

array([1, 5, 9])

In [128]:
a.transpose()

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [140]:
from collections import deque
dq = deque(range(10), maxlen=10)
dq

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], maxlen=10)

In [142]:
dq.rotate(3)
dq

deque([4, 5, 6, 7, 8, 9, 0, 1, 2, 3], maxlen=10)

In [143]:
dq.rotate(-4)
dq

deque([8, 9, 0, 1, 2, 3, 4, 5, 6, 7], maxlen=10)

In [144]:
dq.appendleft(-1)
dq

deque([-1, 8, 9, 0, 1, 2, 3, 4, 5, 6], maxlen=10)

In [145]:
dq.extend([11, 22, 33])
dq

deque([0, 1, 2, 3, 4, 5, 6, 11, 22, 33], maxlen=10)

In [146]:
dq.extendleft([10, 20, 30, 40])
dq

deque([40, 30, 20, 10, 0, 1, 2, 3, 4, 5], maxlen=10)